# 2.3 Типы коллекций. Последовательности, множества, отображения

## Задание 1

**Условие:**
Создайте кортеж из ```10```  произвольных значений. С помощью операции среза выведите только элементы с четными индексами.

**Решение:**

In [ ]:
# Создание кортежа из 10 произвольных значений
my_tuple = (11, 22, 33, 44, 55, 66, 77, 88, 99, 100)

# Использование операции среза для вывода элементов с четными индексами
even_index_elements = my_tuple[::2]

# Вывод элементов с четными индексами
print(even_index_elements)

(11, 33, 55, 77, 99)

## Задание 2

**Условие:**
Создайте список из ```10``` элементов, которые могут быть только ```0``` или ```1```. Примените к полученному списку операцию ```set()```.

**Решение:**

In [ ]:
# Создание списка из 10 элементов, которые могут быть только 0 или 1
my_list = [0, 1, 1, 0, 1, 0, 1, 0, 0, 1]

# Применение операции set() к списку
unique_values = set(my_list)

# Вывод уникальных значений
print(unique_values)

{0, 1}

## Задание 3

**Условие:**
Создайте словарь из ```5``` сотрудников, где ключ - это имя сотрудника, а значение - его заработная плата. Добавьте в него несколько сотрудников. В цикле проиндексируйте зарплату всем сотрудникам на ```10%```.

**Решение:**

In [ ]:
# Создание словаря из 5 сотрудников с их заработной платой
employees = {
    "Анна": 50000,
    "Петр": 60000,
    "Ирина": 55000,
    "Алексей": 65000,
    "Елена": 70000
}

# Добавление нескольких новых сотрудников в словарь
employees.update({
    "Сергей": 72000,
    "Мария": 58000
})

# Индексация зарплат всем сотрудникам на 10% в цикле
for name, salary in employees.items():
    employees[name] = salary * 1.1

# Вывод обновленного словаря сотрудников и их новой заработной платой
for name, salary in employees.items():
    print(f"{name}: {round(salary, 2)} рублей")

Анна: 55000.0 рублей
Петр: 66000.0 рублей
Ирина: 60500.0 рублей
Алексей: 71500.0 рублей
Елена: 77000.0 рублей
Сергей: 79200.0 рублей
Мария: 63800.0 рублей